.carousel-indicators button{
  width: 20px !important;
  display: none ;
}
.search{
    background-color: #e4e4e463;
    border-radius: 100px;
}
.search input{
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 30px;
}
.search button{
    border-radius: 0px 100px 100px 0px;
    padding: 10px !important;
    min-width: 60px;
}
.search input::placeholder{
  color: #ccc;
}